[submodule "lib/jsdoc-toolkit"]
	path = lib/jsdoc-toolkit
	url = https://github.com/mbezjak/jsdoc-toolkit.git
[submodule "lib/napalm"]
	path = lib/napalm
	url = https://github.com/mbezjak/napalm.git
[submodule "emacs.d"]
	path = emacs.d
	url = https://github.com/mbezjak/emacs.d.git
