[Unit]
Description=Dump package list

[Service]
Environment="PATH=/home/mbezjak/workspace/dotfiles/bin:/usr/bin"
Type=oneshot
ExecStart=/home/mbezjak/workspace/dotfiles/bin/dump-package-list

[Install]
WantedBy=multi-user.target
