[Unit]
Description=Hetzner Backup
After=network-online.target

[Service]
Type=simple
ExecStart=/home/mbezjak/workspace/dotfiles/bin/hetzner-backup.sh
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
