[Unit]
Description=Hetzner Backup
After=network-online.target

[Service]
Type=oneshot
ExecStart=/home/mbezjak/workspace/dotfiles/bin/hetzner-backup.sh

[Install]
WantedBy=multi-user.target
