/auto-save-list/
/backups/
/elpa/
/eshell/
/ltxpng/
/url/

/bmk-bmenu-state.el
/bookmarks
/custom.el
/places
/projectile-bookmarks.eld
/tramp
/.ido.last
/.org-id-locations
/.recentf
/.smex-items

*.cache
*.elc
